.heroimg {
    background-image: url(ph1.png);
    background-size: cover;
}

.text-monkey {
    color: rgb(255, 255, 255);
}

.btn-monkey {
    background-color: rgb(2, 9, 90);
    color: #fff;
}

.btn-monkey:hover {
    background-color: rgb(83, 144, 198);
    color: #fff;
}
.card {
    transition: all .4s; 
}

.card:hover {
    transform: translate(-5px, -5px) rotate(-1deg); 
    box-shadow: 5px 5px 5px #e2e2e2; 
}
.mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .box1 {
    height: 80px;
    background: lightgreen;
    text-align: center;
}
.box {
    margin-top: 300px;
    margin-bottom: 300px;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    font-size: 150%;
}